body {
	margin: 0;
	padding: 0;
	/* font-family: Arial, Helvetica, sans-serif !important; */
	/* font-family: "Roboto", Helvetica, Arial, sans-serif;*/
    font-family: 'Lato', sans-serif !important;
	font-weight: 120;
	font-size: 17px;
	letter-spacing: 2px;
	line-height: 20px;
	color:black;
}
/*.banner .carousel .carousel-inner .item img{width:100%;}*/
a {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
.h5, h5 {
	font-size: 16px;
}
.banner {
	position: relative;
}
.categories-grid {
	padding: 30px;
}
.bb-0 {
	bottom: 0 !important;
}
.ptb {
	padding: 60px 0px;
}
.ptb-100 {
	padding: 100px 0px;
}

 @media (max-width: 576px) {
	
	.m3m-content p{font-size: 14px;
    letter-spacing: 0.5px;}
	 
.ptb {
	padding: 40px 0px;
}
.ptb-100 {
	padding: 60px 0px;
}
#contact {
	position: absolute;
	bottom: 0;
	right: 20px;
	background: #F9F9F9;
	padding: 25px;
	margin-top: 150px;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
}
@media only screen and (min-width: 750px) {
}
 @media (max-width: 769px) {
/* .w-quick-enquiry{display:none;}*/
.lgo {
	display: none;
}
.cate-box {
	min-height: 538px;
}
}
#banner {
	position: relative;
}
.banner_part {
	position: absolute;
	top: 131px;
	width: 100%;
	z-index: 100;
}
.form-group {
	margin-bottom: 0.6rem;
    padding: 0;
    text-align: center;
   

}
.w-quick-enquiry {
	max-width: 353px;
	bottom: 74px;
	right: 32px;
}
#quick-enquiry, #quick-enquiry-bottom {
	background: rgba(255,255,255, 1) none repeat scroll 0 0;
	padding: 15px 15px;
	width: 100%;
	position: relative;
	float: right;
	border-radius: 0px;
	
	box-shadow: 0 1px 3px rgba(0,0,0,.32), 0 1px 2px rgba(0,0,0,.44);
	margin: 5px 0px;
}
#quick-enquiry p, #quick-enquiry-bottom p {
	font-size: 14px;
	line-height: 22px;
	text-align: left;
	color: #000;
	margin-bottom: 0.6rem;
}
#quick-enquiry h2, #quick-enquiry-bottom h2 {
	color: #000 !important;
	font-size: 20px !important;
	margin: 0;
	padding: 4px 0 !important;
	text-transform: uppercase;
	font-family:'Lato', sans-serif !important; /*font-weight:bold !important;*/
	border-bottom: none !important;
	margin-bottom: 0px !important;
}
#quick-enquiry h3, #quick-enquiry-bottom h3 {
	color: #fff !important;
	font-size: 15px;
	font-weight: 400;
	margin: 0 0 5px !important;
	padding: 3px 0;
}
 #quick-enquiry h6  {	font: 400 20px/24px "Lato', sans-serif" !important;letter-spacing: 0px;}
form {
	margin: 0;
	padding: 0;
}
#quick-enquiry input, #quick-enquiry-bottom input {
	background: rgba(255,255,255, 0.95) none repeat scroll 0 0;
	/*background: #fff none repeat scroll 0 0;
	border: 1px solid #ddd;*/
	border-top: none;
	border-right: none;
	border-left: none;
	border-bottom: 1px solid #666;
	color: #222 !important;
	font: 100 14px 'LATOREGULAR' !important;
	/*margin: 7px 0 !important;*/padding: 8px 10px;
	border-radius: 0;
}
#quick-enquiry input[type=text], #quick-enquiry-bottom input [type=text] {
	width: 100%;
}
input, textarea:focus {
	outline: medium none;
}
.submit-button .submit {
	background: #232935 none repeat scroll 0 0;
	border: medium none;
	color: #fff !important;
	cursor: pointer;
	font: 18.38px Arial, Helvetica, sans-serif !important;
	margin: 10px 0 5px !important;
	padding: 11px 30px;
	;
	text-transform: uppercase;/*border-radius: 5px;*/
}
.form-bottom input, .form-bottom textarea, .form-bottom select {
	border-radius: 0px;
}
label{font-weight:600;}
#quick-enquiry select, #quick-enquiry-bottom select {
	-moz-appearance: none;
	background: rgba(255,255,255, 0.95) none repeat scroll 0 0;
	/*background: #fff none repeat scroll 0 0;
	border: 1px solid #ddd;*/
	border-top: none;
	border-right: none;
	border-left: none;
	border-bottom: 1px solid #666;
	font: 14px 'LATOREGULAR' !important;/*margin: 7px 0 !important;*/
	padding: 8px 10px;
	width: 100%;
	border-radius: 0;/*border-radius: 5px;*/
}
#quick-enquiry textarea, #quick-enquiry-bottom textarea {
	background: rgba(255,255,255, 0.95) none repeat scroll 0 0;
	/*background: #fff none repeat scroll 0 0;
	border: 1px solid #ddd;*/
	border-top: none;
	border-right: none;
	border-left: none;
	border-bottom: 1px solid #666;
	color: #222 !important;
	font: 100 14px 'LATOREGULAR' !important;
	margin: 7px 0 !important;
	min-height: 84px;
	padding: 8px 10px;
	width: 100%;
}
#quick-enquiry .submit, #quick-enquiry-bottom .submit {
	background: #42b931 none repeat scroll 0 0;
	border: medium none;
	color: #fff !important;
	cursor: pointer;
	font: 18.38px Arial, Helvetica, sans-serif !important;
	margin: 10px 0 5px !important;
	padding: 11px 0;
	text-transform: uppercase;
	width: 100%;/*border-radius: 5px;*/
}
.lgo {
	background: transparent;
	margin-left: auto;
	padding: 20px 0;
	color: #fff;
	margin-right: auto;
	max-width: 600px;
}
.lgo h2 {
	font-size: 3.5rem;
	font-weight: 600;
	text-shadow: 2px 2px #ff0000;
}
.lgo h4 {
	font-weight: 600;
	text-shadow: 1px 1px #555;
}
label {
	display: inline-block;
 margin-bottom: .2rem;
}
 @media only screen and (min-width : 320px) and (max-width : 480px) {
.categories-grid {
	padding: 10px;
}
.lgo {
	display: none;
}
.w-quick-enquiry {
	bottom: 0px;
}
#quick-enquiry, #quick-enquiry-bottom {
	position: inherit;
	right: auto;
}
.banner_part {
	position: inherit;
	top: auto;
}
}
@media only screen and (min-width : 480px) and (max-width : 769px) {
	.service {
    background-position: 36% !important;}
.w-quick-enquiry {
	max-width: 700px;
	bottom: 0px;
	right: 32px;
}
#quick-enquiry, #quick-enquiry-bottom {
	position: inherit;
	right: auto;
}
.banner_part {
	position: inherit;
	top: auto;
}
}
.bt-0 {
	margin-bottom: 0;
}
.footer p {
	margin-bottom: 0.3rem;
	padding: 5px;
}
.footer .f-rgt {
	text-align: right;
	margin-bottom: 0.3rem;
}
.footer p strong {
	color: #444;
	font-weight: 600;
}
.top-contact {
	position: absolute;
	width: 100%;
	background: rgba(255, 255, 255, 0.7);
	z-index: 999;
}
.top-contact h6 {
	color: #222;
	padding: 10px 2px 2px 2px;
	right: 0;
	text-align: end;
}
select, select option {
	color: #000000;
}
 select:invalid, select option[value=""] {
 color: #222;
}
label {
	display: block;
	margin: 4px 0;
}

/*Added for browser compatibility*/
[hidden] {
 display: none;
}
.shadow-sm {
 box-shadow: 0 .125rem .75rem rgba(0,0,0,.075)!important;
}
.card {
	min-height: 180px;
	padding: 10px;
}
.card-zoom {
	position: relative;
	transition: all 0.3s ease-out;
}
.card-zoom:hover {
	transition: all 0.5s ease-out;
	transform: translateY(-5px) scale(1.005) translateZ(0);
	box-shadow: 0px 4px 8px rgba(0,0,0,.15)!important;
}
.top-contact{    position: absolute;
font-family:myFirstFont !important;
    width: 100%;
   
    background: rgba(255, 255, 255, 0.7);
    z-index: 999;
	
	
}
.top-contact h6{ color:#222;padding:10px 2px 2px 2px; right:0; text-align:end;}
.top-contact h6 a{ font-family:myFirstFont !important;}
 .service {
    background: url(../images/banner7.jpg);
    background-repeat: no-repeat;
    /* background-attachment: scroll; */
    background-position: center center;
    background-size: cover;
    /* padding: 100px 0; */
  
}
.title {
   
    font-size: 30px;
    line-height: 40px;
    /*text-transform: uppercase;*/
    margin-bottom: 30px;
    text-align: center;
}
.title2 {
   
    font-size: 30px;
    line-height: 40px;
   
    margin-bottom: 30px;
    
}

select:invalid, select option[value=""] {
    color: #777;
}
.footer {
	background: #000;
	padding: 20px 0;
	display: flex;
	justify-content: flex-end;
	margin-top: 150px;
}
.footer h2 {
	text-align: left;
	font-size: 40px;
	color: #f15931;
	font-weight: 900;
	letter-spacing: 4px;
	margin: 0;
	padding: 0;
}
.footer h2 span {
	font-size: 18px;
	color: #fff;
}
.footermenu {
	margin: 0;
	padding: 0;
	width: 100%;
	display: flex;
	display: flex;
	justify-content: center;
}
.footermenu li {
	list-style: none;
	float: left;
	font-size: 16px;
	letter-spacing: 1px;
	padding: 5px 15px;
	color: #fff;
	margin-top: 12px;
}
.footermenu li a {
	color: #fff;
}
.footermenu li a:hover {
	text-decoration: none;
}
.footer p {
	color: #fff;
	font-size: 14px;
	text-align: center;
	letter-spacing: 1px;
	margin: 0;
}
.footer hr {
	margin-top: 10px;
	margin-bottom: 10px;
	border: 0;
	border-top: 1px solid #fff;
}

.green{
  background-color:#6fb936;
}
        .thumb{
            margin-bottom: 30px;
        }
        
        .page-top{
            margin-top:85px;
        }

   
img.zoom {
    width: 100%;
    height: auto;
    border-radius:5px;
    object-fit:cover;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
}
        
 
.transition {
    -webkit-transform: scale(1.01); 
    -moz-transform: scale(1.01);
    -o-transform: scale(1.01);
    transform: scale(1.01);
}
    .modal-header {
   
     border-bottom: none;
}
    .modal-title {
        color:#000;
    }
    .modal-footer{
      display:none;  
    }
.grn-button ,.grn1-button{
    padding: 12px 30px;
    background: #00458C;
    color: #fff !important;
    font-weight: 700;
    font-size: 15px;
    text-transform: uppercase;
    display: inline-block;
    text-decoration: none!important;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    border-radius: 34px;
    box-shadow: 0px 6px 10px -5px grey;
    width: 230px;
    text-align: center;
	border: none;
	margin-bottom:15px;
	cursor:pointer;
}
.grn2-button{
       padding: 5px 19px;
    background: #2d478a;
    color: #fff !important;
    font-weight: 700;
    font-size: 15px;
    text-transform: uppercase;
    display: inline-block;
    text-decoration: none!important;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    border-radius: 34px;
    box-shadow: 0px 6px 10px -5px grey;
    width: 115px;
    text-align: center;
	border: none;
	margin-top:10px;
	margin-bottom:10px;
	cursor:pointer;
}
.grn-button:hover, .grn-button:focus {
    background: #2d478a;
    color: #fff ;
}
.grn1-button:hover, .grn1-button:focus {
    background: #fff;
    color: #000 !important;
}
.grn2-button:hover, .grn2-button:focus {
    background: #2d478a;
    color: #fff !important;
}
.main-title{   
font-weight: 700;
 font-size: 2.5rem;
 line-height: 1.2em;
 border: solid  black;
    text-align: center;
	margin: 20px;
	letter-spacing: 0;
}
 .solid {
    background: #fff;
    z-index: 9999;
    position: fixed;
    top: 0;
    transition: all 0.5s ease-in-out 0.3s;
    width: 100%;
    padding: 2px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.11)
}
.solid img{width:80%;}
.error{    font-size: 11px;
    letter-spacing: 1px;
    color: #f00;}
	
.modal {
	top:10%;
    z-index: 9999;
    }
.loginmodal-container {
  padding: 30px;
  max-width: 500px;
  width: 100% !important;
  background-color: #F7F7F7;
  margin: 0 auto;
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  font-family: roboto;
}

.loginmodal-container h1 {
  text-align: center;
  font-size: 1.2em;
  font-family: roboto;
}

.loginmodal-container input[type=submit] {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  position: relative;
}

.loginmodal-container input[type=text], input[type=password] {
	border-radius: 30px;
  height: 40px;
  font-size: 16px;
  width: 100%;
  margin-bottom: 10px;
  -webkit-appearance: none;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  /* border-radius: 2px; */
  padding: 0 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.loginmodal-container input[type=text]:hover {
  border: 1px solid #b9b9b9;
  border-top: 1px solid #a0a0a0;
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

.loginmodal {
  text-align: center;
  font-size: 14px;
  font-family: 'Arial', sans-serif;
  font-weight: 700;
  height: 36px;
  padding: 0 8px;
/* border-radius: 3px; */
/* -webkit-user-select: none;
  user-select: none; */
}

.submit {
  /* border: 1px solid #3079ed; */
  border: 0px;
  color: #fff;
  text-shadow: 0 1px rgba(0,0,0,0.1); 
  background-color: #4d90fe;
  padding: 17px 0px;
  font-family: roboto;
  font-size: 14px;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#4787ed)); */
}

.submit:hover {
  /* border: 1px solid #2f5bb7; */
  border: 0px;
  text-shadow: 0 1px rgba(0,0,0,0.3);
  background-color: #357ae8;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */
}

.loginmodal-container a {
  text-decoration: none;
  color: #666;
  font-weight: 400;
  text-align: center;
  display: inline-block;
  opacity: 0.6;
  transition: opacity ease 0.5s;
} 

.login-help{
  font-size: 12px;
}
.loginmodal-container .close{margin-top: -40px;
    margin-right: -38px;
    color: #fff;
    background-color: #000;
    width: 30px;
    height: 30px;
    border-radius: 50%;}
	
	.form-box { border-radius: 6px 6px 0px 0px;
    margin-top: 0px !important;
    position: fixed;
    right: 0;
    z-index: 99999;
    bottom: 0px;
    background: #e8e8e8;
    padding: 0px ;
    z-index: 99999;
    width: 22%;
}

.top_form h2 {    border-radius: 5px 5px 0px 0px;
    font-size: 20px;
    margin: 0;
    text-align: left;
    color: #fff;
    padding: 10px 23px;
    letter-spacing: 1px;
    font-weight: 500;
    background: #0f2028;
}
.top_form h2 span {
    float: right;
}
.form_inner {
    padding: 10px 20px;
    margin: 0;
    background: #e8e8e8;
    width: 100%;
}

.form_inner .form-control {
	    width: 100%;
    height: 40px;
    padding: 5px 26px;
    margin-bottom: 13px;
    border: none;
    font-size: 14px;
    color: #838383;
    font-style: italic;
   
}
.form_inner .form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

@media (max-width: 768px){
.form-box {
    margin-top: 0 !Important;
    position: relative;
    right: 0;
    z-index: 99999;
    bottom: 0px;
    background: #ffffff4a;
    padding: 0px;
    z-index: 99;
    width: 100%;
} 
 .about h1{font-weight:700;}
  .about{line-height:1.5;font-size:17px;}
  .navbar-light .navbar-toggler {
    color: rgba(0,0,0,.5);
    border-color: transparent;
} 
}
.features-list {    padding-inline-start: 26px !important;}
			   .features-list li {
				   font-family: Arial, Helvetica, sans-serif !important;
    font-weight: 100;
    font-size: 15px;
    letter-spacing: 2px;
    line-height: 20px;
    color: #222;
    list-style-image: url(../images/check-icon.png);
    padding: 0px 0;
}